body {
    font-family: "Roboto", sans-serif;
    font-weight: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background: #ffffff;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #2E2F42;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: none;
    color: #4D5AE5;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    border: solid #4D5AE5;
    color: #ffffff;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

/* This is header */

.nav-page .nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-page .nav-logo .logo {
    color: #2E2F42;
}

.nav-page .link {
    color: #2E2F42 ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-page .link:hover,
.nav-page .link:focus {
    color: #404BBF;
}

.nav-page .link:active {
    color: #404BBF;
    text-decoration: underline;
}

.address {
    font-style: normal;
}

.address .link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.address .link:hover,
.address .link:focus {
    color: #404BBF;
}

/* This is end of header */
/* This is section 1 */

.first-sec {
    background: #2E2F42;
}

.first-sec .header {
    color: #ffffff;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.first-sec .but:hover,
.first-sec .but:focus {
    background: #404BBF;
    border: solid #404BBF;
    text-align: center; 
    letter-spacing: 0.04em;
}

/* This is end of section 1 */
/* This is section 2 */

.second-sec .title {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.second-sec .par {
    letter-spacing: 0.02em;
}

/* This is end of section 2 */
/* This is section 3 */

.third-sec {
    background: #F4F4FD;
}

.third-sec .title {
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.third-sec .sec-list {
    background: #ffffff;
}

.third-sec .sec-list .par {
    letter-spacing: 0.02em;
}

/* This is end of section 3 */
/* This is section 4 */

.fourth-sec .title {
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.fourth-sec .list-title {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.fourth-sec .par {
    letter-spacing: 0.02em;
}

/* This is end of section 4 */
/* This is footer */

.foot {
    background: #2E2F42;
}

.foot .nav-logo {
    font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.foot .nav-logo .logo{
        color: #F4F4FD;
}

.foot .par {
    color: #F4F4FD ;
    letter-spacing: 0.02em;
}
