body {
    font-family: "Roboto", sans-serif;
    font-weight: Regular; 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:black;
    font-weight: Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
}

a:hover,
a:focus {
    color:#404BBF;
}

h1 {
    font-weight: Bold;
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-weight: Bold;
    font-size: 36px;
    line-height: 40px;
}

h3 {
    font-weight: Medium;
    font-size: 20px;
}

.sec-button {
    background-color: #4D5AE5;
    color:#ffffff;
    border: 1px solid #4D5AE5;
    font-weight: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
}

button:hover,
button:focus {
    background-color: #404BBF;
    color:#ffffff;
}

.nav-title {
    font-family: "Ralevay", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.nav-logo {
    color: #2e2f42;
}

.nav-page .link:active {
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address {
    font-style: normal;
}

.address .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.first-sec {
    background: #2e2f42;
}

.first-sec .sec-title {
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.second-sec .sec-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-sec .sec-list .par {
    letter-spacing: 0.02em;
    color:#434455;
}

.third-sec {
    background: #F4F4FD;
}

.third-sec .sec-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-sec .sec-list {
    background: #FFFFFF;
}

.third-sec .sec-list .list-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    color:#2e2f42
}

.third-sec .sec-list .par {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.fourth-sec .sec-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.fourth-sec .list-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.fourth-sec .par {
    letter-spacing: 0.02em;
    color: #434455;
}

.foot {
    background: #2e2f42;   
}

.foot .foot-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.foot .par {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.foot .studio-logo {
    color: #F4F4FD;
}